@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  padding-top: calc(1.5rem + 64px);
}

a,
.orange {
  text-decoration: none;
  color: hsla(30, 100%, 50%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(30, 100%, 70%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: calc(2rem + 64px);
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 64px);
  }
}
